.contenedor {
    max-width: 1100px;/* Ancho maximo de la pagina */
    margin: 0 auto;/* Centra todo en el medio de la pantalla */
    padding: 20px;
    flex-wrap: wrap;
}

.catalogo{
    display: flex;/* Alinea los cuadros uno al lado del otro */
    justify-content: center;/* Centra los cuadros horizontalmente */
    gap: 20px;/* Espacio de separacion entre cuadros */
    margin-bottom: 30px;/* Separación con la parte de abajo */
    flex-wrap: wrap;/* Si la pantalla es pequena, pasa las tarjetas abajo */  
}

.poloblue,.pologreen,.poloblack,.polored,.bigpony,.libre {
    border: #000 solid;        /* Dibuja la línea recta de borde negro alrededor del cuadro */
    border-radius: 12px;       /* Redondea las 4 esquinas del cuadro */
    width: clamp(12.5rem, 8.775rem + 15.686vw, 22.5rem);   /* Ajusta el ancho para que cambie según el tamaño de la pantalla */
    height: clamp(12.5rem, 8.775rem + 15.686vw, 22.5rem);  /* Ajusta el alto para que mantenga el mismo tamaño que el ancho */
    display: flex;             /* Activa el modo para ordenar lo que hay dentro del cuadro */
    flex-direction: column; /* Pone las cosas una encima de otra, pero al revés (la imagen abajo y el texto arriba) */
    align-items: center;       /* Centra todo el contenido de izquierda a derecha */
    justify-content: center;   /* Centra todo el contenido de arriba a abajo */
    padding-bottom: 15px; /* Le da un espacio respirable abajo del botón */
    background-color: darkcyan;
}

.imagen-productos{
    max-width: 140%;      /* Evita que la imagen sea más ancha que la tarjeta */
    max-height: 130px;   /* Le fija un alto máximo controlado */
}
.precios {
  color: yellow; /* Texto verde */
}
.titulo-producto {
  font-family: 'Arial', sans-serif; /* Tipo de letra */
  font-size: 20px;  /* Tamaño de la letra */
  color: #333;/* Color del texto */
  text-transform: uppercase; /* Convierte el texto a mayusculas */
}
button {
  background-color: #f2f0d8;
  border: 2px solid #000;
  border-radius: 4px;
  padding: 6px 12px;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color:aquamarine; /* Cambia de color suavemente al pasar el mouse */
}
